<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recording</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>


<div class="row">
    <div class="col-1">
        &nbsp;
    </div>

    <table class="table table-striped col-10">
        <thead class="thead-dark">
        <tr class="row">
            <th scope="col" class="col-7">标题</th>
            <th scope="col" class="col-3">最后更新</th>
            <th scope="col" class="col-2">操作</th>
        </tr>
        </thead>
        <tbody>
        {{if ne (len .Recordings) 0}}
            {{range .Recordings}}
                <tr class="row">
                    <th scope="row" class="col-7">{{.Title}}</th>
                    <td class="col-3">{{.ModifyTimeString}}</td>
                    <td class="col-2">&nbsp;</td>
                </tr>
            {{end}}
        {{else}}
            <tr class="row">
                <th scope="row" colspan="3" style="text-align: center;">无数据</th>
            </tr>
        {{end}}
        </tbody>
    </table>

    <div class="col-1">
        &nbsp;
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
